{% extends "order/base.html" %}

{% block head %}
  {% if order %}
  <title>Заказ #{{ order.id }}</title>
  {% else %}
  <title>Новый заказ</title>
  {% endif %}
{% endblock %}

{% block header %}
  {% if order %}
  <span class="mdl-layout-title">Заказ #{{ order.id }}</span>
  {% else %}
  <span class="mdl-layout-title">Новый заказ</span>
  {% endif %}
{% endblock %}

{% block content %}
  {% if order %}
  <p>
    <labal>Дата создания:</labal> <span>{{ order.created | date }} {{ order.created | time}}</span>
  </p>
  <p>
    <labal>Дата изменения:</labal> <span>{{ order.changed | date }} {{ order.changed | time}}</span>
  </p>
  {% endif %}

  <div class="mdl-grid">
    <div class="mdl-cell--8-col">
      <div class="mdl-grid">
        <form method="POST">{% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
              {{ field }}
              <label class="mdl-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% for error in field.errors %}
              <span class="mdl-textfield__error" style="visibility:visible">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="mdl-cell mdl-cell--12-col">
            <input type="submit" value="Сохранить" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          </div>
        </form>
      </div>
    </div>
    <div class="mdl-cell--4-col">
      {% if form.non_field_errors %}
      <ul class="mdl-list">
        {% for error in errors %}
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content" style="color: red">
            <i class="material-icons mdl-list__item-icon">error</i>
            {{ error }}
          </span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
