{% extends "order/base.html" %}

{% block head %}
  {% if order %}
  <title>Заказ #{{ order.id }}</title>
  {% else %}
  <title>Новый заказ</title>
  {% endif %}
  <style>
    fieldset[disabled] .mdl-textfield .mdl-textfield__input, .mdl-textfield.is-disabled .mdl-textfield__input {color: inherit}
    fieldset[disabled] .mdl-textfield .mdl-textfield__label, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {color: rgb(33,150,243)}
  </style>
{% endblock %}

{% block header %}
  {% if order %}
  <span class="mdl-layout-title">Редактирование: Заказ #{{ order.id }}</span>
  {% else %}
  <span class="mdl-layout-title">Новый заказ</span>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="mdl-grid">
    <div class="mdl-cell--8-col">
      <div class="mdl-grid">
        <form method="POST">{% csrf_token %}
          {% if order %}
          {% include "order/order_dates.html" with order=order %}
          {% endif %}
          {% include "order/order_form_base.html" with form=form %}
          <div class="mdl-cell mdl-cell--12-col">
            <input type="submit" value="Сохранить" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            {% if order %}
            <a href="{% url 'order_view' order.id %}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colore">Отменить</a>
            {% else %}
            <input type="submit" value="Сохранить и продолжить редактирование" name="_continue" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <input type="submit" value="Сохранить и создать новый заказ" name="_new" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="mdl-cell--4-col">
      {% if form.non_field_errors %}
      <ul class="mdl-list">
        {% for error in errors %}
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content" style="color: red">
            <i class="material-icons mdl-list__item-icon">error</i>
            {{ error }}
          </span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% include "order/messages.html" %}
    </div>
  </div>
{% endblock %}
